<div class="container">

  <div class="flex options" *ngIf="!isPhone">

    <div class="option-title">
      <a href='/' class="goHomeButton" matTooltip="Go main menu" [matTooltipPosition]="'after'">
        <i class="fa-solid fa-chevron-left"></i>
      </a>
      <h1>OPTIONS</h1>
    </div>

    <div class="option-container">

      <div class="option">
        <div class="title">
          MODE
        </div>
        <div class="option-content flex-row gap-20">
          <div class="option-mode" [ngClass]="{'option-mode-selected' : cardGame}" (click)="changeToCardGame()">
            <i class="fa-solid fa-border-all"></i>
            Card
          </div>
          <div class="option-mode" [ngClass]="{'option-mode-selected' : typeGame}" (click)="changeToTypeGame()">
            <i class="fa-regular fa-keyboard"></i>
            Type
          </div>
        </div>
      </div>
  
      <div class="option">
        <div class="title">
          GUESS KANA SET
        </div>
        <div class="option-content flex-column align-items-baseline w-50 justify-flex-start">
          <div>
            <mat-checkbox [checked]="mainKana" disableRipple (click)="toogleKanaOptions('mainKana',$event)">
              Main Kana <small>({{hiraganaArray.length}})</small>
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox [checked]="dakutenKana" disableRipple (click)="toogleKanaOptions('dakutenKana',$event)">
              Dakuten Kana <small>({{hiraganaDakutenArray.length}})</small>
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox [checked]="combinationKana" disableRipple (click)="toogleKanaOptions('combinationKana',$event)">
              Combination Kana <small>({{hiraganaCombinationArray.length}})</small>
            </mat-checkbox>
          </div>
        </div>
      </div>
  
      <div class="option" *ngIf="cardGame">
        <div class="title">
          DIFFICULTY
        </div>
        <div class="option-content">
          <div class="level" [ngClass]="{'level-selected': level == 1}" (click)="changeLevel(1)">
            <i class="fa-solid fa-fire"></i>
            <br />
            Easy
          </div>
          <div class="level" [ngClass]="{'level-selected': level == 2}" (click)="changeLevel(2)">
            <i class="fa-solid fa-fire"></i>
            <i class="fa-solid fa-fire"></i>
            <br />
            Medium
          </div>
          <div class="level" [ngClass]="{'level-selected': level == 3}" (click)="changeLevel(3)">
            <i class="fa-solid fa-fire"></i>
            <i class="fa-solid fa-fire"></i>
            <i class="fa-solid fa-fire"></i>
            <br />
            Hard
          </div>
        </div>
      </div>
  
      <div class="option" *ngIf="cardGame">
        <div class="title">
          GUESS {{queAdivina == 'kana' ? 'KANA' : 'ROMAJI'}} CHARACTERS
        </div>
        <div class="option-content">
          <div class="adivinar" (click)="toogleQueAdivina()">
            {{queAdivina == 'kana' ? 'かな' : 'Romaji'}}
            <i class="fa-solid fa-arrows-rotate"></i>
            {{queAdivina == 'kana' ? 'Romaji' : 'かな'}}
          </div>
        </div>
      </div>  

      <div class="option">
        <div class="title">
          STRIKE & BEST
        </div>
        <div class="option-content">
          <mat-checkbox [checked]="showStreak" (click)="toogleStreak()">Show Streak & Best</mat-checkbox>
        </div>
      </div>  

    </div>


  </div>

  <div class="flex game">

    <div class="game-description">
      <div *ngIf="isPhone" class="game-description-button" (click)="showMenuLateral()">
        <i class="fa-solid fa-sliders"></i>
      </div>      

      <article *ngIf="cardGame">Click on the card that represents this kana</article>
      <article *ngIf="typeGame">Type the kana shown and press enter to submit</article>

      <a href='/' class="game-description-button" *ngIf="isPhone">
        <i class="fa-solid fa-house"></i>
      </a>
    </div>

    <div class="phone-strike-container" *ngIf="isPhone && showStreak">
      <!-- <div class="emote-container flex">
        <ng-container>
          <div class="emote" [ngClass]="{'emote-animation': emote != ''}">{{emote}}</div>
        </ng-container>
      </div> -->
      <div class="phone-strike flex">
        <h1 [ngClass]="{'streakFailShake' : streakFailShake , 'normalGradient' : !streakFailShake}">
          <i class="fas fa-meteor"></i>
           Streak : {{cardGame ? cardGameStreak : typeGameStreak}}
        </h1>
        <h2> 
          <i class="fas fa-trophy"></i> 
          &nbsp; Best : {{cardGame ? cardGameBest : typeGameBest}} &nbsp; 
        </h2>
      </div>
    </div>

    <div class="flex kana w-80">

      <div class="kana-card" *ngIf="cardGame">
        {{queAdivina == 'kana' ? adivinar.kana : adivinar.romaji}}
      </div>

      <div class="kana-type w-100" *ngIf="typeGame">

        <div class="kana-type-card w-100"  [ngClass]="{'kana-type-failed' : typeGameFail, 'shake' : typeGameFailShake}">
          <div class="kana-type-text">
            <div>{{adivinar.kana}}<span *ngIf="typeGameShowKanaValue"> ( {{adivinar.romaji}} )</span></div>
          </div>
          <div class="kana-type-controls w-100">
            <div class="kana-type-input w-100">
              <input type="text" class="w-100" placeholder="Type the kana" (keydown.enter)="adivinarTypeGame($event)" #typeGameInput>
            </div>
            <div class="kana-type-submit">
              <button matTooltip="Submit answer" (click)="adivinarTypeGame($event)">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="buttons">
          <div class="skip-kana" (click)="typeGameSkipKana()" matTooltip="Skip kana (lose streak)">
            <i class="fa-solid fa-rotate-right "></i>
          </div>
          <div class="show-kana" (click)="typeGameShowKana()" matTooltip="Show kana (lose streak)">
            <i class="fas fa-eye"></i>
          </div>
        </div>

      </div>

    </div>

    <!-- FLEX DONDE SE MUESTRAN LAS OPCIONES DISPONIBLES SOLO PARA CARD -->
    <div class="flex grid-list " *ngIf="cardGame" [ngClass]="{'grid-1x2': level == 1, 'grid-2x2': level == 2, 'grid-3x3': level == 3}">
      <div class="grid-item flex-column" (click)="this.resolver(this.option)"
        [ngClass]="{'failed': !this.option.estado , 'disabled': success}" *ngFor="let option of options">
        <div class="text-option">{{queAdivina == 'kana' ? option.romaji : option.kana}}</div>
        <div *ngIf="!this.option.estado" class="flex kana-failed-solution"> ( {{queAdivina == 'kana' ? option.kana : option.romaji}} )</div>
      </div>
    </div>

  </div>

  <div class="flex score" *ngIf="!isPhone">

    <div class="strike-container" *ngIf="showStreak">
        <div class="emote-container flex">
          <ng-container>
            <div class="emote" [ngClass]="{'emote-animation': emote != ''}">{{emote}}</div>
          </ng-container>
        </div>
        <div class="strike flex">
          <h1 [ngClass]="{'streakFailShake' : streakFailShake , 'normalGradient' : !streakFailShake}">
            <i class="fas fa-meteor"></i>
             Streak : {{cardGame ? cardGameStreak : typeGameStreak}}
          </h1>
          <h2> 
            <i class="fas fa-trophy"></i> 
            &nbsp; Best : {{cardGame ? cardGameBest : typeGameBest}} &nbsp; 
          </h2>
        </div>
    </div>
  
  </div>

</div>



<!-- Menu lateral movil -->
<div class="menuLateral" [ngClass]="{'menuLateral-hidden' : !menuLateral}" *ngIf="isPhone" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)">
  
  <div class="menuLateral-option-title">
    <div *ngIf="isPhone && menuLateral" class="exit-menuLateral" (click)="hideMenuLateral()">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <h1>OPTIONS</h1>
  </div>

  <div class="menuLateral-options-container">

    <div class="option">
      <div class="title">
        MODE
      </div>
      <div class="option-content flex-row gap-20">
        <div class="option-mode" [ngClass]="{'option-mode-selected' : cardGame}" (click)="changeToCardGame()">
          <i class="fa-solid fa-border-all"></i>
          Card
        </div>
        <div class="option-mode" [ngClass]="{'option-mode-selected' : typeGame}" (click)="changeToTypeGame()">
          <i class="fa-regular fa-keyboard"></i>
          Type
        </div>
      </div>
    </div>

    <div class="option">
      <div class="title">
        GUESS KANA SET
      </div>
      <div class="option-content flex-column align-items-baseline w-70 justify-flex-start">
        <div>
          <mat-checkbox [checked]="mainKana" disableRipple (click)="toogleKanaOptions('mainKana',$event)">
            Main Kana <small>({{hiraganaArray.length}})</small>
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox [checked]="dakutenKana" disableRipple (click)="toogleKanaOptions('dakutenKana',$event)">
            Dakuten Kana <small>({{hiraganaDakutenArray.length}})</small>
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox [checked]="combinationKana" disableRipple (click)="toogleKanaOptions('combinationKana',$event)">
            Combination Kana <small>({{hiraganaCombinationArray.length}})</small>
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="option" *ngIf="cardGame">
      <div class="title">
        DIFFICULTY
      </div>
      <div class="option-content gap-10">
        <div class="level" [ngClass]="{'level-selected': level == 1}" (click)="changeLevel(1)">
          <i class="fa-solid fa-fire"></i>
          <br />
          Easy
        </div>
        <div class="level" [ngClass]="{'level-selected': level == 2}" (click)="changeLevel(2)">
          <i class="fa-solid fa-fire"></i>
          <i class="fa-solid fa-fire"></i>
          <br />
          Medium
        </div>
        <div class="level" [ngClass]="{'level-selected': level == 3}" (click)="changeLevel(3)">
          <i class="fa-solid fa-fire"></i>
          <i class="fa-solid fa-fire"></i>
          <i class="fa-solid fa-fire"></i>
          <br />
          Hard
        </div>
      </div>
    </div>

    <div class="option" *ngIf="cardGame">
      <div class="title">
        GUESS {{queAdivina == 'kana' ? 'KANA' : 'ROMAJI'}} CHARACTERS
      </div>
      <div class="option-content">
        <div class="adivinar" (click)="toogleQueAdivina()">
          {{queAdivina == 'kana' ? 'かな' : 'Romaji'}}
          <i class="fa-solid fa-arrows-rotate"></i>
          {{queAdivina == 'kana' ? 'Romaji' : 'かな'}}
        </div>
      </div>
    </div>  

    <div class="option">
      <div class="title">
        STRIKE & BEST
      </div>
      <div class="option-content">
        <mat-checkbox [checked]="showStreak" (click)="toogleStreak()">Show Streak & Best</mat-checkbox>
      </div>
    </div>  

  </div>
</div>




<!-- Emote tick verde correcto para movil -->
<div class="centered-div success" [ngClass]="{ 'hidden': !success }" *ngIf="isPhone">
  <i class="fa-solid fa-check fa-beat"></i>
</div>

<!-- Emote tick verde correcto para pc -->
<div class="centered-div success" [ngClass]="{ 'hidden': !success }" *ngIf="!isPhone">
  <i class="fa-solid fa-check fa-beat"></i>
</div>
