/* You can add global styles to this file, and also import other style files */
:root{
  --color-primary: rgb(227 231 243);
  --color-primary-50: rgba(238, 238, 238, 0.5);
  --color-secondary: rgb(21, 32, 43);
  --color-tertiary: rgb(56, 80, 105);
  --color-secondary-50: rgba(21, 32, 43, 0.5);
  --color-error: rgb(223, 82, 82);
  --color-error-50: rgba(223, 82, 82, 0.5);
  --color-success: rgb(66, 139, 58);
  --color-gray: rgba(139, 152, 165, 1);
  --color-gray-50: rgba(139, 152, 165, 0.3);
  --color-gray2: rgb(40 53 67);



// --background: #28364b;  
// --container-light:  #333c4c;
//   --container-dark: #31353d;

--background: rgb(44 57 70);
    --container-light: rgb(12 26 36);
    --container-dark: rgb(13 21 28);
    --selected: #d7e3e7;
    --selected-50: #5a7391;
    --text: #d7e0e5;
    --text-50: #eef4ed85;
    --descripcion: #F1F6F9;
  --error:#e5414B;
  --error-50:#e58f7e;
  --success:#588157;


  --box-shadow-dark:rgb(10 15 20);
  --box-shadow-dark-50:rgba(29 35 42,0.5);
  --box-shadow-light: rgb(94 97 114);
  --box-shadow-light-60: rgb(113 113 124 / 60%);






  --box-shadow-dark:rgb(94, 80, 63);
  --box-shadow-dark-50:rgba(94, 80, 63,0.5);
  --box-shadow-light:rgb(255, 255, 255); 
  --box-shadow-light-60: rgb(255 255 255 / 60%);


  --background:#DCC8B4;
  --container-light:#DDD1C8;
  --container-dark:#C2B8B0;
  --selected: #607274;
  --selected-50: #60727477;
  --text:#2c231f;
  --text-50:#2c231f7e;
  --descripcion:#2c231f;
  --error:#e5414B;
  --error-50:#e58f7e;
  --success:#588157;




}

 * {
    box-sizing: border-box;
  }



/* ===========================================================
ESTILOS MOVIL Y TABLET
   =========================================================== */
  @media only screen and (max-width:839.98px) and (orientation: portrait), (max-width: 1279.98px) and (orientation: landscape)
{
  html, body { height: 100% !important; }
  body{
    height: 100%  !important;
    padding:10px !important;
  }

}

/* ===========================================================

   =========================================================== */







/* ===========================================================
ESTILOS ORDENADOR
   =========================================================== */
@media only screen and (min-width: 840px) and (orientation: portrait), (min-width: 1280px) and (orientation: landscape) {
  body{
    padding:60px !important;
    height: calc(100vh)  !important;
  }
  html, body { height: 100%; }
}

/* ===========================================================

   =========================================================== */


body {
  margin: 0;
  padding: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color:var(--background);
  //background-image: url('/assets/img/background.png');
  //background-repeat: repeat;
  //background-size: 2500px 1500px;
  }



//ESTILOS CHECKBOX
.mdc-label {
  color:var(--text) !important;
}
.mdc-checkbox__background {
  border-color: var(--container-dark) !important;
  background-color: var(--container-dark) !important;
}
.mat-mdc-checkbox-ripple,
.mat-mdc-checkbox .mdc-checkbox__ripple {
  display: none;
}




.mat-mdc-slider { 
  display: none;
}

.mdc-slider__thumb--focused{
  display: none;
}

//FIN ESTILOS CHECKBOX






  .custom-popup .swalYomi  .onyomi{
    margin-bottom: 30px !important;
  }

  .custom-popup .swalYomi {
    font-size:1.5rem;
    font-weight: normal;
    justify-content: center;
    align-items: center;

  }

  .custom-popup > .swalYomi .title{
    text-decoration: underline!important;
    margin-bottom:5px!important;
    color: var(--color-gray)!important;
  }
  .custom-popup .swalYomi  .text{

    font-style: italic;
  }

  .custom-popup .swalKanjiInfoTitle{
    font-size: 3rem;
  }

  .mt-1{
    margin-top:2rem;
  }

  .mt-2{
    margin-top:2rem;
  }

  .mt-3{
    margin-top:2rem;
  }
  .mt-4{
    margin-top:2rem;
  }

  .w-25{
    width: 25% !important;
  }
  .w-35{
    width: 35% !important;
  }
  .w-50{
    width: 50% !important;
  }
  .w-60{
    width: 60% !important;
  }
  .w-65{
    width: 65% !important;
  }
  .w-75{
    width: 75% !important;
  }
  .w-70{
    width: 70% !important;
  }
  .w-80{
    width: 80% !important;
  }
  .w-90{
    width: 90% !important;
  }
  .w-100{
    width: 100% !important;
  }



  .flex{
    flex:1;
  }
  
  .flex-column{
    flex-direction: column;
  }
  
  .flex-row{
    flex-direction: row;
  }
  
  .gap-10{
    gap:10px;
  }
  
  .gap-20{
    gap:20px;
  }
  
  .align-items-baseline{
    align-items: baseline !important;
  }

  .justify-flex-start{
    justify-content: flex-start !important;
  }

  .hidden{
    display:none !important;
  }

  input:focus {
    outline: none;
  }









  .shake{
    animation: shake 0.5s ease;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }


  @keyframes fadeOut {
    from {
      opacity: 1;
      visibility:visible;
  
    }
    to {
      opacity: 0;
      visibility:hidden;
  
    }
  
  }

  
@keyframes heartbeat
{
  0%
  {
    transform: scale( .85 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .9 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .85 );
  }
  100%
  {
    transform: scale( .9 );
  }
}




div,
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important; 
}





  .mat-mdc-tab .mdc-tab__text-label {
    color:var(--color-primary) !important;
  }
  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color:var(--color-primary) !important;
  }
  .mat-mdc-tab .mdc-tab-indicator__content--underline{
    color:var(--color-primary) !important;
  }
  .mdc-tab:hover .mat-mdc-tab:hover{
    background-color: var(--color-primary-50) !important;
  }


