@media only screen and (max-width:839.98px) and (orientation: portrait), (max-width: 1279.98px) and (orientation: landscape)
{
  .left{
    flex:1 !important;
    height:100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:20px;
  }
  .left .title{
    margin-top:20px;
    margin-bottom:0;
  }
  .left .title h1{
    font-size:4rem;
    margin-bottom:10px;
  }
  .left .title h3{
    font-size:1.3rem;
  }

  .left .description{
    padding:30px 30px;
  }

  .goRight{
    background-color:var(--container-light);
    border-radius:20px;
    box-shadow: 5px 5px 10px 0px rgba(94, 80, 63, 1),
    inset 1px 1px 2px 0px rgba(255, 255, 255, 1);
    color:var(--descripcion);
    width:100px;
    height:100px;
    margin:20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .goRight i{
    font-size:2rem;
    transform: rotate(180deg);
  }

  .container{
    flex-direction: column !important;
  }

  .right{
    flex: 1 !important;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:20px;
    width:100%;
  }

  .option{
    gap:5px;
    font-size:1rem;
    width:100%;
  }

  .game{
    flex:0 1 100%;
    padding:15px;
    border-radius:100px;
  }

  .game span{
    display: block;
  }

  .library{
    width:50px;
    height:50px;
    padding:25px;
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .goLeft{
    background-color: var(--container-light);
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgb(94, 80, 63), inset 1px 1px 2px 0px rgb(255, 255, 255);
    color: var(--descripcion);
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }


}

@media only screen and (min-width: 840px) and (orientation: portrait), (min-width: 1280px) and (orientation: landscape) {
  .left{
    padding:60px;
  }

  .left .title{
    margin-bottom:40px;
  }

  .left .title h1{
    font-size:6rem;
    margin-bottom:40px;
  }

  .left .title h3{
    font-size:2rem;
  }

  .left .description{
    padding:60px 40px;
  }

  .option{
    width:60%;
    gap:20px;
    font-size:1.5rem;
  }

  .game{
    flex:0 1 70%;
    padding:40px;
    border-radius:100px;
  }

  .library{
    width:100px;
    height:100px;
    padding:40px;
    border-radius:100px;
  }

}




//ESTILOS GENERALES

* {
  box-sizing: border-box;
}


.container{
  border-radius:20px;
 // background-color: var(--container-light);
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
 // box-shadow: 15px 15px 20px 0px rgba(94, 80, 63, 1);
  box-shadow: 20px 20px 25px 5px rgba(94, 80, 63, 1);
}

.left{
  flex:0 1 40%;
  background-color:var(--container-dark);
  //background: linear-gradient(to bottom, var(--container-dark), var(--container-dark));
  height:100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--text);
  box-shadow: inset 1px 1px 2px 0px rgb(255, 255, 255);

}

.left .title{
 // flex:0 1 30%;
text-align: center;
}

.left .description{

  background-color:var(--container-light);
  border-radius:40px;
  box-shadow: 5px 5px 10px 0px rgba(94, 80, 63, 1),
  inset 1px 1px 2px 0px rgba(255, 255, 255, 1);
  color:var(--descripcion);
  background-image: url('/assets/img/sakura-30.png'); /* Imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el div */
  background-position: center; /* Centra la imagen */

}

.right{
  flex:0 1 60%;
  background-color: var(--container-light);
  //background: linear-gradient(to bottom, var(--container-light), var(--container-light2));
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  gap:30px;
  box-shadow: inset 0.1px 1px 2px 0px rgb(255, 255, 255);
  background-image: url('/assets/img/sakura-30.png'); /* Imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el div */
  background-position: center; /* Centra la imagen */
  background-blend-mode: soft-light;
}

.option{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.option a span{
  margin-left:10px;
  color:var(--text-50);
}



.game{
  background-color: var(--container-dark);
  text-decoration: none;
  color:var(--text);
  box-shadow: inset 0.5px 0.5px 0.5px 0px rgb(94, 80, 63, 0.5), 0.5px 0.5px 0.5px 0px rgb(94, 80, 63, 0.5);
}

.library{
  background-color: var(--container-dark);
  text-decoration: none;
  color:var(--text);
  box-shadow: inset 0.5px 0.5px 0.5px 0px rgb(94, 80, 63, 0.5), 0.5px 0.5px 0.5px 0px rgb(94, 80, 63, 0.5);

}
